<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993528396858-7n8bu70e54hebbn7ics9doa28cb61k0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993528396858-7n8bu70e54hebbn7ics9doa28cb61k0v</string>
	<key>API_KEY</key>
	<string>AIzaSyBwqv9vX0Xw4yGrJsEBEQLu0GW3vIXAa6c</string>
	<key>GCM_SENDER_ID</key>
	<string>993528396858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS329E.SheaIris-HW2</string>
	<key>PROJECT_ID</key>
	<string>sheairis-hw6</string>
	<key>STORAGE_BUCKET</key>
	<string>sheairis-hw6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993528396858:ios:db85fd562b55685fc38903</string>
</dict>
</plist>